@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700;800;900&display=swap");

.form-check-label {
  margin-right: 15px;
}

.selected  {
  border: 5px solid red !important;
}

.card:hover {
    cursor: pointer;
    transform: translateY(10px); 
    transition: all .3s ease-out;
}

input[type="radio"]{
  visibility: hidden;
  height: 0;
  width: 0;
}

input[type="radio"]:checked + label{
  background-color: #58ba83;
}

label {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  background-color: #454545;
  color: white;
  padding: 5px 10px;
  border-radius: 3px;
  transition: all .3s ease-out;
}

td div input[type="radio"] {
  visibility: visible;
  height: 15px;
  width: 15px;
}

.alignCenter > * {
  display: flex;
  justify-content: center; 
}

.button {
  opacity: 0;
}

.card:hover .button {
    opacity: 1;
  }
  
.card:hover img {
  filter: brightness(0.5);
}